
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index10</title>
    <script src="~/bundles/jquery"></script>
</head>
<body>
    <div> 
    </div>
    <script>
        alert($);
    </script>
</body>
</html>
