
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index3</title>
</head>
<body>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <div>
        这里是主视图
        <input type="button" id="ss" name="name" value="读取分部视图" />
    </div>
    <div id="add"></div>
    <script>
        $("#ss").click(function myfunction() {
            $.ajax({
                url: "/Index/Index4",
                type: "POST",
                dataType: "html",
                success: function add(data) {
                    $("#add").html(data);
                }
            })
        })
    </script>
</body>

</html>
